# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build directory
dist/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Vuepress build output
.vuepress/dist

# SvelteKit build output
.svelte-kit

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional coverage directory
coverage/

# Optional build log files
build/tsconfig.tsbuildinfo
build/

# Ignore package-lock.json
package-lock.json

